infra/n8n/workflows/vertical-cold-outreach.json
{
  "name": "AIMS Vertical — Cold Outreach Engine",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "vertical-cold-outreach", "options": { "responseMode": "lastNode" } },
      "id": "vt-co-webhook", "name": "Cold Outreach Intake Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [240, 300], "webhookId": "vertical-cold-outreach"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Vertical: Cold Outreach Engine\n// Phase B entry — process collected Phase A data\n// ═══════════════════════════════════════════════════════\n\nconst payload = $input.all()[0].json;\nconst cd = payload.collectedData || {};\n\nconst targetRole = cd.target_role || cd.step_1_response || '(not provided)';\nconst companyProfile = cd.company_profile || cd.step_1_response || '(not provided)';\nconst resultStatement = cd.result_statement || cd.step_2_response || '(not provided)';\nconst proof = cd.proof || cd.step_2_response || '(not provided)';\nconst sequenceLength = cd.sequence_length || cd.step_3_response || '3';\nconst channels = cd.channels || cd.step_3_response || 'email, LinkedIn';\n\nconst steps = [\n  `Research ideal customer profile and prospect criteria for: ${targetRole} at ${companyProfile}`,\n  `Generate cold email copy: initial outreach, follow-up, and breakup (${sequenceLength} touches)`,\n  'Create LinkedIn connection request and InMail templates',\n  `Generate email subject line variants for A/B testing with proof: ${proof}`,\n  `Create campaign automation setup for channels: ${channels}`,\n  'Verify email copy for spam trigger words and deliverability best practices'\n];\n\nreturn {\n  requestId: payload.requestId || `VRT-CO-${Date.now().toString(36).toUpperCase()}`,\n  userId: payload.userId || 'unknown',\n  verticalId: 'cold-outreach',\n  verticalName: 'Cold Outreach Engine',\n  sessionId: payload.sessionId,\n  collectedData: cd,\n  phaseA: { targetRole, companyProfile, resultStatement, proof, sequenceLength, channels },\n  execution: {\n    primaryAgent: 'marketer-ang',\n    pmoOffice: 'marketing-office',\n    director: 'Boomer_CMO',\n    steps,\n    totalSteps: steps.length\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "vt-co-extract", "name": "Extract Phase A Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.UEF_GATEWAY_URL || 'http://uef-gateway:3001' }}/n8n/execute",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requestId: $json.requestId, userId: $json.userId, message: `[VERTICAL:cold-outreach] Build outreach sequence for ${$json.phaseA.targetRole} at ${$json.phaseA.companyProfile}. Hook: ${$json.phaseA.resultStatement}`, classification: { pmoOffice: 'marketing-office', director: 'Boomer_CMO', departmentalAgent: 'Social Campaign Agent', executionLane: 'deploy_it' }, verticalContext: $json.phaseA, executionSteps: $json.execution.steps, source: 'n8n-vertical-cold-outreach' }) }}",
        "options": { "timeout": 120000, "allowUnauthorizedCerts": true }
      },
      "id": "vt-co-dispatch", "name": "Dispatch to UEF Gateway", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [680, 200], "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\nconst steps = input.execution.steps;\nreturn {\n  requestId: input.requestId, userId: input.userId, status: 'completed',\n  summary: `[n8n Cold Outreach] Generated ${steps.length}-step outreach for: ${input.phaseA.targetRole}`,\n  receipt: { receiptId: `RCP-CO-${Date.now().toString(36).toUpperCase()}`, hash: `sha256-n8n-co-${Date.now().toString(16)}`, shiftId: `SH-CO-${Date.now().toString(36).toUpperCase()}`, shiftStatus: 'completed' },\n  classification: { pmoOffice: 'marketing-office', director: 'Boomer_CMO', executionLane: 'deploy_it' },\n  metrics: { totalDurationMs: 0, stepsCompleted: steps.length, stepsFailed: 0, verificationPassed: true },\n  executionSteps: steps, source: 'n8n-vertical-cold-outreach-fallback'\n};"
      },
      "id": "vt-co-fallback", "name": "Local Fallback", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [680, 420], "alwaysOutputData": true
    },
    {
      "parameters": { "jsCode": "const items = $input.all();\nconst r = items[0]?.json;\nif (r && r.requestId && r.status) return r;\nconst fb = items.length > 1 ? items[1]?.json : null;\nif (fb && fb.requestId) return fb;\nreturn { requestId: 'unknown', status: 'failed', summary: 'Both gateway and fallback failed.' };" },
      "id": "vt-co-merge", "name": "Merge Results", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [920, 300]
    },
    {
      "parameters": { "jsCode": "return $input.all()[0].json;" },
      "id": "vt-co-respond", "name": "Respond to Webhook", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1140, 300]
    }
  ],
  "connections": {
    "Cold Outreach Intake Webhook": { "main": [[{ "node": "Extract Phase A Data", "type": "main", "index": 0 }]] },
    "Extract Phase A Data": { "main": [[{ "node": "Dispatch to UEF Gateway", "type": "main", "index": 0 }, { "node": "Local Fallback", "type": "main", "index": 0 }]] },
    "Dispatch to UEF Gateway": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Local Fallback": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Merge Results": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "AIMS" }, { "name": "vertical" }, { "name": "cold-outreach" }],
  "pinData": {}, "versionId": "1"
}
