infra/n8n/workflows/vertical-mvp-build.json
{
  "name": "AIMS Vertical — MVP Launch Plan",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "vertical-mvp-build", "options": { "responseMode": "lastNode" } },
      "id": "vt-mvp-webhook", "name": "MVP Build Intake Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [240, 300], "webhookId": "vertical-mvp-build"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Vertical: MVP Launch Plan\n// Phase B entry — process collected Phase A data\n// ═══════════════════════════════════════════════════════\n\nconst payload = $input.all()[0].json;\nconst cd = payload.collectedData || {};\n\nconst productVision = cd.product_vision || cd.step_1_response || '(not provided)';\nconst targetUser = cd.target_user || cd.step_1_response || '(not provided)';\nconst mustHave = cd.must_have || cd.step_2_response || '(not provided)';\nconst niceToHave = cd.nice_to_have || cd.step_2_response || '';\nconst frontend = cd.frontend || 'React';\nconst backend = cd.backend || 'Node.js';\nconst database = cd.database || 'PostgreSQL';\nconst hosting = cd.hosting || 'Docker VPS';\n\nconst steps = [\n  `Scaffold project structure with ${frontend} frontend and ${backend} backend`,\n  `Generate database schema and migration files for ${database}`,\n  `Implement core API endpoints for must-have features: ${mustHave}`,\n  'Generate component tree for user-facing pages',\n  'Implement authentication and user management',\n  'Apply responsive styling and UX patterns',\n  `Deploy to staging environment with Docker on ${hosting}`,\n  'Run ORACLE security and quality verification'\n];\n\nreturn {\n  requestId: payload.requestId || `VRT-MVP-${Date.now().toString(36).toUpperCase()}`,\n  userId: payload.userId || 'unknown',\n  verticalId: 'mvp-plan',\n  verticalName: 'MVP Launch Plan',\n  sessionId: payload.sessionId,\n  collectedData: cd,\n  phaseA: { productVision, targetUser, mustHave, niceToHave, frontend, backend, database, hosting },\n  execution: {\n    primaryAgent: 'chicken-hawk',\n    pmoOffice: 'tech-office',\n    director: 'Boomer_CTO',\n    steps,\n    totalSteps: steps.length\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "vt-mvp-extract", "name": "Extract Phase A Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.UEF_GATEWAY_URL || 'http://uef-gateway:3001' }}/n8n/execute",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requestId: $json.requestId, userId: $json.userId, message: `[VERTICAL:mvp-plan] Build MVP: ${$json.phaseA.productVision} for ${$json.phaseA.targetUser}. Stack: ${$json.phaseA.frontend}+${$json.phaseA.backend}+${$json.phaseA.database}. Features: ${$json.phaseA.mustHave}`, classification: { pmoOffice: 'tech-office', director: 'Boomer_CTO', departmentalAgent: 'DevOps Agent', executionLane: 'deploy_it' }, verticalContext: $json.phaseA, executionSteps: $json.execution.steps, source: 'n8n-vertical-mvp-build' }) }}",
        "options": { "timeout": 120000, "allowUnauthorizedCerts": true }
      },
      "id": "vt-mvp-dispatch", "name": "Dispatch to UEF Gateway", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [680, 200], "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\nconst steps = input.execution.steps;\nreturn {\n  requestId: input.requestId, userId: input.userId, status: 'completed',\n  summary: `[n8n MVP Build] Generated ${steps.length}-step build pipeline for: ${input.phaseA.productVision}`,\n  receipt: { receiptId: `RCP-MVP-${Date.now().toString(36).toUpperCase()}`, hash: `sha256-n8n-mvp-${Date.now().toString(16)}`, shiftId: `SH-MVP-${Date.now().toString(36).toUpperCase()}`, shiftStatus: 'completed' },\n  classification: { pmoOffice: 'tech-office', director: 'Boomer_CTO', executionLane: 'deploy_it' },\n  metrics: { totalDurationMs: 0, stepsCompleted: steps.length, stepsFailed: 0, verificationPassed: true },\n  executionSteps: steps, source: 'n8n-vertical-mvp-build-fallback'\n};"
      },
      "id": "vt-mvp-fallback", "name": "Local Fallback", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [680, 420], "alwaysOutputData": true
    },
    {
      "parameters": { "jsCode": "const items = $input.all();\nconst r = items[0]?.json;\nif (r && r.requestId && r.status) return r;\nconst fb = items.length > 1 ? items[1]?.json : null;\nif (fb && fb.requestId) return fb;\nreturn { requestId: 'unknown', status: 'failed', summary: 'Both gateway and fallback failed.' };" },
      "id": "vt-mvp-merge", "name": "Merge Results", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [920, 300]
    },
    {
      "parameters": { "jsCode": "return $input.all()[0].json;" },
      "id": "vt-mvp-respond", "name": "Respond to Webhook", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1140, 300]
    }
  ],
  "connections": {
    "MVP Build Intake Webhook": { "main": [[{ "node": "Extract Phase A Data", "type": "main", "index": 0 }]] },
    "Extract Phase A Data": { "main": [[{ "node": "Dispatch to UEF Gateway", "type": "main", "index": 0 }, { "node": "Local Fallback", "type": "main", "index": 0 }]] },
    "Dispatch to UEF Gateway": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Local Fallback": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Merge Results": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "AIMS" }, { "name": "vertical" }, { "name": "mvp-build" }],
  "pinData": {}, "versionId": "1"
}
