infra/n8n/workflows/vertical-automation.json
{
  "name": "AIMS Vertical — Task Automation Builder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vertical-automation",
        "options": { "responseMode": "lastNode" }
      },
      "id": "vt-auto-webhook",
      "name": "Automation Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "vertical-automation"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Vertical: Task Automation Builder\n// Phase B entry — process collected Phase A data\n// ═══════════════════════════════════════════════════════\n\nconst payload = $input.all()[0].json;\nconst cd = payload.collectedData || {};\n\n// Extract Phase A fields\nconst repetitiveTasks = cd.repetitive_tasks || cd.step_1_response || '(not provided)';\nconst currentTools = cd.current_tools || cd.step_2_response || '(not provided)';\nconst automations = cd.automations || cd.step_3_response || '(not provided)';\nconst estimatedSavings = cd.estimated_savings || 'TBD';\n\n// Build execution steps from fallback definitions\nconst steps = [\n  `Research API capabilities for each tool: ${currentTools}`,\n  `Scaffold n8n workflow templates for automations: ${automations}`,\n  'Implement webhook triggers and API connectors between tools',\n  'Generate error handling and retry logic for each automation',\n  'Deploy automation workflows to staging environment',\n  'Test all automations end-to-end with sample data',\n  'Verify automation reliability and add monitoring alerts'\n];\n\nreturn {\n  requestId: payload.requestId || `VRT-AUTO-${Date.now().toString(36).toUpperCase()}`,\n  userId: payload.userId || 'unknown',\n  verticalId: 'automation',\n  verticalName: 'Task Automation Builder',\n  sessionId: payload.sessionId,\n  collectedData: cd,\n  phaseA: {\n    repetitiveTasks,\n    currentTools,\n    automations,\n    estimatedSavings\n  },\n  execution: {\n    primaryAgent: 'chicken-hawk',\n    pmoOffice: 'ops-office',\n    director: 'Boomer_COO',\n    steps,\n    totalSteps: steps.length\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "vt-auto-extract",
      "name": "Extract Phase A Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.UEF_GATEWAY_URL || 'http://uef-gateway:3001' }}/n8n/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requestId: $json.requestId, userId: $json.userId, message: `[VERTICAL:automation] Build automation workflows for: ${$json.phaseA.repetitiveTasks}. Tools: ${$json.phaseA.currentTools}. Designs: ${$json.phaseA.automations}`, classification: { pmoOffice: 'ops-office', director: 'Boomer_COO', departmentalAgent: 'Flow Boss Agent', executionLane: 'deploy_it' }, verticalContext: $json.phaseA, executionSteps: $json.execution.steps, source: 'n8n-vertical-automation' }) }}",
        "options": { "timeout": 120000, "allowUnauthorizedCerts": true }
      },
      "id": "vt-auto-dispatch",
      "name": "Dispatch to UEF Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Fallback: local execution if UEF Gateway unreachable\nconst input = $input.all()[0].json;\nconst steps = input.execution.steps;\nconst shiftId = `SH-AUTO-${Date.now().toString(36).toUpperCase()}`;\n\nreturn {\n  requestId: input.requestId,\n  userId: input.userId,\n  status: 'completed',\n  summary: `[n8n Automation Vertical] Built ${steps.length} automation workflow steps for: ${input.phaseA.repetitiveTasks}`,\n  receipt: {\n    receiptId: `RCP-AUTO-${Date.now().toString(36).toUpperCase()}`,\n    hash: `sha256-n8n-auto-${Date.now().toString(16)}`,\n    shiftId,\n    shiftStatus: 'completed'\n  },\n  classification: { pmoOffice: 'ops-office', director: 'Boomer_COO', executionLane: 'deploy_it' },\n  metrics: { totalDurationMs: 0, stepsCompleted: steps.length, stepsFailed: 0, verificationPassed: true },\n  executionSteps: steps,\n  source: 'n8n-vertical-automation-fallback'\n};"
      },
      "id": "vt-auto-fallback",
      "name": "Local Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge: prefer gateway response, fallback to local\nconst items = $input.all();\nconst result = items[0]?.json;\nif (result && result.requestId && result.status) return result;\nconst fallback = items.length > 1 ? items[1]?.json : null;\nif (fallback && fallback.requestId) return fallback;\nreturn { requestId: 'unknown', status: 'failed', summary: 'Both gateway and fallback failed.' };"
      },
      "id": "vt-auto-merge",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "jsCode": "return $input.all()[0].json;"
      },
      "id": "vt-auto-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Automation Intake Webhook": { "main": [[{ "node": "Extract Phase A Data", "type": "main", "index": 0 }]] },
    "Extract Phase A Data": { "main": [[{ "node": "Dispatch to UEF Gateway", "type": "main", "index": 0 }, { "node": "Local Fallback", "type": "main", "index": 0 }]] },
    "Dispatch to UEF Gateway": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Local Fallback": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Merge Results": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "AIMS" }, { "name": "vertical" }, { "name": "automation" }],
  "pinData": {},
  "versionId": "1"
}
