infra/n8n/workflows/vertical-content-calendar.json
{
  "name": "AIMS Vertical — Content Calendar Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vertical-content-calendar",
        "options": { "responseMode": "lastNode" }
      },
      "id": "vt-cc-webhook",
      "name": "Content Calendar Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "vertical-content-calendar"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Vertical: Content Calendar Generator\n// Phase B entry — process collected Phase A data\n// ═══════════════════════════════════════════════════════\n\nconst payload = $input.all()[0].json;\nconst cd = payload.collectedData || {};\n\nconst business = cd.business || cd.step_1_response || '(not provided)';\nconst primaryGoal = cd.primary_goal || cd.step_1_response || '(not provided)';\nconst platforms = cd.platforms || cd.step_2_response || '(not provided)';\nconst frequency = cd.frequency || cd.step_2_response || '(not provided)';\nconst contentPillars = cd.content_pillars || cd.step_3_response || '(not provided)';\nconst contentTypes = cd.content_types || cd.step_3_response || '(not provided)';\n\nconst steps = [\n  `Research trending topics and keywords for SEO in niche: ${business}`,\n  `Generate 30-day content calendar with daily topics mapped to pillars: ${contentPillars}`,\n  `Create 4 weeks of social copy (captions, hooks, CTAs) for platforms: ${platforms}`,\n  `Generate content templates for each type: ${contentTypes}`,\n  'Create a brand voice guide for content consistency',\n  'Verify content calendar against best posting times and platform algorithms'\n];\n\nreturn {\n  requestId: payload.requestId || `VRT-CC-${Date.now().toString(36).toUpperCase()}`,\n  userId: payload.userId || 'unknown',\n  verticalId: 'content-calendar',\n  verticalName: 'Content Calendar Generator',\n  sessionId: payload.sessionId,\n  collectedData: cd,\n  phaseA: { business, primaryGoal, platforms, frequency, contentPillars, contentTypes },\n  execution: {\n    primaryAgent: 'marketer-ang',\n    pmoOffice: 'marketing-office',\n    director: 'Boomer_CMO',\n    steps,\n    totalSteps: steps.length\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "vt-cc-extract",
      "name": "Extract Phase A Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.UEF_GATEWAY_URL || 'http://uef-gateway:3001' }}/n8n/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requestId: $json.requestId, userId: $json.userId, message: `[VERTICAL:content-calendar] Generate content calendar for ${$json.phaseA.business}. Goal: ${$json.phaseA.primaryGoal}. Platforms: ${$json.phaseA.platforms}. Frequency: ${$json.phaseA.frequency}`, classification: { pmoOffice: 'marketing-office', director: 'Boomer_CMO', departmentalAgent: 'Social Campaign Agent', executionLane: 'deploy_it' }, verticalContext: $json.phaseA, executionSteps: $json.execution.steps, source: 'n8n-vertical-content-calendar' }) }}",
        "options": { "timeout": 120000, "allowUnauthorizedCerts": true }
      },
      "id": "vt-cc-dispatch",
      "name": "Dispatch to UEF Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\nconst steps = input.execution.steps;\nconst shiftId = `SH-CC-${Date.now().toString(36).toUpperCase()}`;\n\nreturn {\n  requestId: input.requestId,\n  userId: input.userId,\n  status: 'completed',\n  summary: `[n8n Content Calendar Vertical] Generated ${steps.length}-step content pipeline for: ${input.phaseA.business}`,\n  receipt: { receiptId: `RCP-CC-${Date.now().toString(36).toUpperCase()}`, hash: `sha256-n8n-cc-${Date.now().toString(16)}`, shiftId, shiftStatus: 'completed' },\n  classification: { pmoOffice: 'marketing-office', director: 'Boomer_CMO', executionLane: 'deploy_it' },\n  metrics: { totalDurationMs: 0, stepsCompleted: steps.length, stepsFailed: 0, verificationPassed: true },\n  executionSteps: steps,\n  source: 'n8n-vertical-content-calendar-fallback'\n};"
      },
      "id": "vt-cc-fallback",
      "name": "Local Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst result = items[0]?.json;\nif (result && result.requestId && result.status) return result;\nconst fallback = items.length > 1 ? items[1]?.json : null;\nif (fallback && fallback.requestId) return fallback;\nreturn { requestId: 'unknown', status: 'failed', summary: 'Both gateway and fallback failed.' };"
      },
      "id": "vt-cc-merge",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": { "jsCode": "return $input.all()[0].json;" },
      "id": "vt-cc-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Content Calendar Intake Webhook": { "main": [[{ "node": "Extract Phase A Data", "type": "main", "index": 0 }]] },
    "Extract Phase A Data": { "main": [[{ "node": "Dispatch to UEF Gateway", "type": "main", "index": 0 }, { "node": "Local Fallback", "type": "main", "index": 0 }]] },
    "Dispatch to UEF Gateway": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Local Fallback": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Merge Results": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "AIMS" }, { "name": "vertical" }, { "name": "content-calendar" }],
  "pinData": {},
  "versionId": "1"
}
