infra/n8n/workflows/vertical-livesim.json
{
  "name": "AIMS Vertical — LiveSim Autonomous Space",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "vertical-livesim", "options": { "responseMode": "lastNode" } },
      "id": "vt-ls-webhook", "name": "LiveSim Intake Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [240, 300], "webhookId": "vertical-livesim"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Vertical: LiveSim Autonomous Space\n// Phase B entry — spawn and manage multi-agent simulation\n// ═══════════════════════════════════════════════════════\n\nconst payload = $input.all()[0].json;\nconst cd = payload.collectedData || {};\n\nconst topic = cd.topic || cd.step_1_response || '(not provided)';\nconst objective = cd.objective || cd.step_1_response || '(not provided)';\nconst seedAgents = cd.seed_agents || cd.step_2_response || 'analyst-ang, marketer-ang';\nconst maxRounds = cd.max_rounds || cd.step_3_response || 10;\nconst userInteraction = cd.user_interaction !== undefined ? cd.user_interaction : true;\n\nconst steps = [\n  `Initialize simulation room for topic: ${topic}`,\n  `Spawn seed agents: ${seedAgents}`,\n  `Research phase: agents gather data on ${objective}`,\n  'Analysis phase: agents process and synthesize findings',\n  'Creation phase: agents produce content/artifacts',\n  'Review phase: agents cross-check and refine output',\n  'Delivery: compile all artifacts into final deliverable'\n];\n\nreturn {\n  requestId: payload.requestId || `VRT-LS-${Date.now().toString(36).toUpperCase()}`,\n  userId: payload.userId || 'unknown',\n  verticalId: 'livesim',\n  verticalName: 'LiveSim Autonomous Space',\n  sessionId: payload.sessionId,\n  collectedData: cd,\n  phaseA: { topic, objective, seedAgents, maxRounds, userInteraction },\n  execution: {\n    primaryAgent: 'router-ang',\n    pmoOffice: 'ops-office',\n    director: 'Boomer_COO',\n    steps,\n    totalSteps: steps.length,\n    simulationConfig: {\n      maxRounds: Number(maxRounds) || 10,\n      userInteraction: Boolean(userInteraction),\n      agentPool: String(seedAgents).split(',').map(a => a.trim())\n    }\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "vt-ls-extract", "name": "Extract Phase A Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.UEF_GATEWAY_URL || 'http://uef-gateway:3001' }}/n8n/execute",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requestId: $json.requestId, userId: $json.userId, message: `[VERTICAL:livesim] Spawn simulation: ${$json.phaseA.topic}. Objective: ${$json.phaseA.objective}. Agents: ${$json.phaseA.seedAgents}. Max rounds: ${$json.phaseA.maxRounds}`, classification: { pmoOffice: 'ops-office', director: 'Boomer_COO', departmentalAgent: 'Flow Boss Agent', executionLane: 'deploy_it' }, verticalContext: $json.phaseA, executionSteps: $json.execution.steps, simulationConfig: $json.execution.simulationConfig, source: 'n8n-vertical-livesim' }) }}",
        "options": { "timeout": 300000, "allowUnauthorizedCerts": true }
      },
      "id": "vt-ls-dispatch", "name": "Dispatch to UEF Gateway", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [680, 200], "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\nconst steps = input.execution.steps;\nreturn {\n  requestId: input.requestId, userId: input.userId, status: 'completed',\n  summary: `[n8n LiveSim] Simulation launched: ${input.phaseA.topic} with agents ${input.phaseA.seedAgents} (${input.phaseA.maxRounds} rounds)`,\n  receipt: { receiptId: `RCP-LS-${Date.now().toString(36).toUpperCase()}`, hash: `sha256-n8n-ls-${Date.now().toString(16)}`, shiftId: `SH-LS-${Date.now().toString(36).toUpperCase()}`, shiftStatus: 'completed' },\n  classification: { pmoOffice: 'ops-office', director: 'Boomer_COO', executionLane: 'deploy_it' },\n  metrics: { totalDurationMs: 0, stepsCompleted: steps.length, stepsFailed: 0, verificationPassed: true },\n  executionSteps: steps, simulation: input.execution.simulationConfig,\n  source: 'n8n-vertical-livesim-fallback'\n};"
      },
      "id": "vt-ls-fallback", "name": "Local Fallback", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [680, 420], "alwaysOutputData": true
    },
    {
      "parameters": { "jsCode": "const items = $input.all();\nconst r = items[0]?.json;\nif (r && r.requestId && r.status) return r;\nconst fb = items.length > 1 ? items[1]?.json : null;\nif (fb && fb.requestId) return fb;\nreturn { requestId: 'unknown', status: 'failed', summary: 'Both gateway and fallback failed.' };" },
      "id": "vt-ls-merge", "name": "Merge Results", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [920, 300]
    },
    {
      "parameters": { "jsCode": "return $input.all()[0].json;" },
      "id": "vt-ls-respond", "name": "Respond to Webhook", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1140, 300]
    }
  ],
  "connections": {
    "LiveSim Intake Webhook": { "main": [[{ "node": "Extract Phase A Data", "type": "main", "index": 0 }]] },
    "Extract Phase A Data": { "main": [[{ "node": "Dispatch to UEF Gateway", "type": "main", "index": 0 }, { "node": "Local Fallback", "type": "main", "index": 0 }]] },
    "Dispatch to UEF Gateway": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Local Fallback": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Merge Results": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "AIMS" }, { "name": "vertical" }, { "name": "livesim" }, { "name": "simulation" }],
  "pinData": {}, "versionId": "1"
}
