infra/n8n/workflows/vertical-code-deploy.json
{
  "name": "AIMS Vertical — Chicken Hawk Code & Deploy",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "vertical-code-deploy", "options": { "responseMode": "lastNode" } },
      "id": "vt-cd-webhook", "name": "Code Deploy Intake Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [240, 300], "webhookId": "vertical-code-deploy"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Vertical: Chicken Hawk Code & Deploy\n// Phase B entry — full build-and-deploy pipeline\n// ═══════════════════════════════════════════════════════\n\nconst payload = $input.all()[0].json;\nconst cd = payload.collectedData || {};\n\nconst projectType = cd.project_type || cd.step_1_response || '(not provided)';\nconst description = cd.description || cd.step_1_response || '(not provided)';\nconst techStack = cd.tech_stack || cd.step_2_response || '(not provided)';\nconst constraints = cd.constraints || cd.step_2_response || '';\nconst deployTarget = cd.deploy_target || cd.step_2_response || 'Docker VPS';\nconst acceptanceCriteria = cd.acceptance_criteria || cd.step_3_response || '(not provided)';\n\nconst steps = [\n  `Scaffold project structure with tech stack: ${techStack}`,\n  `Generate core application code for: ${description}`,\n  `Implement primary features: ${acceptanceCriteria}`,\n  'Generate and run unit tests for all core modules',\n  'Implement API endpoints and data models',\n  'Run security audit on generated code',\n  `Deploy to staging environment on ${deployTarget}`,\n  'Run end-to-end tests against staging',\n  'Deploy to production and verify health checks'\n];\n\nreturn {\n  requestId: payload.requestId || `VRT-CD-${Date.now().toString(36).toUpperCase()}`,\n  userId: payload.userId || 'unknown',\n  verticalId: 'chicken-hawk',\n  verticalName: 'Chicken Hawk Code & Deploy',\n  sessionId: payload.sessionId,\n  collectedData: cd,\n  phaseA: { projectType, description, techStack, constraints, deployTarget, acceptanceCriteria },\n  execution: {\n    primaryAgent: 'chicken-hawk',\n    pmoOffice: 'tech-office',\n    director: 'Boomer_CTO',\n    steps,\n    totalSteps: steps.length\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "vt-cd-extract", "name": "Extract Phase A Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.UEF_GATEWAY_URL || 'http://uef-gateway:3001' }}/n8n/execute",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requestId: $json.requestId, userId: $json.userId, message: `[VERTICAL:chicken-hawk] Build and deploy: ${$json.phaseA.description}. Type: ${$json.phaseA.projectType}. Stack: ${$json.phaseA.techStack}. Target: ${$json.phaseA.deployTarget}. Acceptance: ${$json.phaseA.acceptanceCriteria}`, classification: { pmoOffice: 'tech-office', director: 'Boomer_CTO', departmentalAgent: 'DevOps Agent', executionLane: 'deploy_it' }, verticalContext: $json.phaseA, executionSteps: $json.execution.steps, source: 'n8n-vertical-code-deploy' }) }}",
        "options": { "timeout": 180000, "allowUnauthorizedCerts": true }
      },
      "id": "vt-cd-dispatch", "name": "Dispatch to UEF Gateway", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [680, 200], "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all()[0].json;\nconst steps = input.execution.steps;\nreturn {\n  requestId: input.requestId, userId: input.userId, status: 'completed',\n  summary: `[n8n Code Deploy] Generated ${steps.length}-step build pipeline for: ${input.phaseA.description}`,\n  receipt: { receiptId: `RCP-CD-${Date.now().toString(36).toUpperCase()}`, hash: `sha256-n8n-cd-${Date.now().toString(16)}`, shiftId: `SH-CD-${Date.now().toString(36).toUpperCase()}`, shiftStatus: 'completed' },\n  classification: { pmoOffice: 'tech-office', director: 'Boomer_CTO', executionLane: 'deploy_it' },\n  metrics: { totalDurationMs: 0, stepsCompleted: steps.length, stepsFailed: 0, verificationPassed: true },\n  executionSteps: steps, source: 'n8n-vertical-code-deploy-fallback'\n};"
      },
      "id": "vt-cd-fallback", "name": "Local Fallback", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [680, 420], "alwaysOutputData": true
    },
    {
      "parameters": { "jsCode": "const items = $input.all();\nconst r = items[0]?.json;\nif (r && r.requestId && r.status) return r;\nconst fb = items.length > 1 ? items[1]?.json : null;\nif (fb && fb.requestId) return fb;\nreturn { requestId: 'unknown', status: 'failed', summary: 'Both gateway and fallback failed.' };" },
      "id": "vt-cd-merge", "name": "Merge Results", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [920, 300]
    },
    {
      "parameters": { "jsCode": "return $input.all()[0].json;" },
      "id": "vt-cd-respond", "name": "Respond to Webhook", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1140, 300]
    }
  ],
  "connections": {
    "Code Deploy Intake Webhook": { "main": [[{ "node": "Extract Phase A Data", "type": "main", "index": 0 }]] },
    "Extract Phase A Data": { "main": [[{ "node": "Dispatch to UEF Gateway", "type": "main", "index": 0 }, { "node": "Local Fallback", "type": "main", "index": 0 }]] },
    "Dispatch to UEF Gateway": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Local Fallback": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Merge Results": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "AIMS" }, { "name": "vertical" }, { "name": "code-deploy" }, { "name": "chicken-hawk" }],
  "pinData": {}, "versionId": "1"
}
